
.navLink {
    padding: 10px;
}

.link {
    text-decoration: none;
    color: #474747;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.81px;
}

.link:hover {
    color: var(--color-pink);
    text-decoration: underline;

    font-weight: 600;
    box-sizing: border-box;
}
